<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<h1>Welcome... Login Successful</h1>

        <div class="col-md-12 bg-light text-center">
            <a class="btn btn-sm btn-danger" href="/" th:href="@{/login}">Logout</a>
            <!--<a class="btn btn-sm btn-danger" th:href="@{/login)}">Logout</a>-->
        </div>

<!--<a class="btn btn-sm btn-danger" th:href="@{/login)}">Logout</a>-->
</body>
</html>